.addContainer {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( blanchedalmond, white );
    /* background-color: blanchedalmond; */
    text-align: center;

}

.editContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient( blanchedalmond, white );
    /* background-color: blanchedalmond; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle {
    font-size: xx-large;
    font-weight: bold;
}

.addForm {
    width: 95%;
    padding: 10px 10px;
    margin: 0px auto;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
}

.addCon {
    width: 30%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}

.editForm {
    width: 95%;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputCon {
    width: 60%;
    padding: 10px 10px;
    font-size: large;
    /* margin-bottom: 20px; */
}

.inputTextArea {
    width: 60%;
    padding: 10px 10px;
    font-size: large;
    resize: vertical;
}

.inputCon:focus {
    outline-width: 0;
}

.inputTextArea:focus {
    outline-width: 0;
}

.label {
    font-size: large;
    font-weight: 500;
}

.list {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: rgb(255, 244, 231);
    /* border: 1px solid #000; */
    margin: 10px auto;
}

.list:nth-child(even) {
    background-color: rgb(170, 215, 255);
}

.listContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 2px solid #000;
    padding: 10px 0px;
}

.listBtn {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.listItem {
    font-size: large;
    width: 100%;
    /* border: 1px solid #000; */
    text-align: center;
}

.mainDetails {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( blanchedalmond, white );
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.None {
    width: 90%;
    margin: 150px auto;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    /* border: 1px solid #000; */
}

.deleteBtn {
    width: 200px;
    margin: 40px 0px;
    padding: 10px 20px;
    font-size: large;
    background-color: red;
    color: black;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: black;
    color: red;
    transition: all 0.2s ease-out;
}

.cancelBtn {
    width: 200px;
    margin: 10px 0px;
    padding: 10px 40px;
    font-size: large;
    cursor: pointer;
}

.cancelBtn:hover {
    background-color: rgb(255, 255, 139);
    transition: all 0.2s ease-out;
}

.clickText {
    color: rgb(93, 93, 255);
    cursor: pointer;
    text-decoration: none;
    width: 50%;
    text-align: center;
}

.detailsTitle {
    font-size: xx-large;
    margin: 20px 0px;
    font-weight: 800;
}

.detailCon {
    width: 30%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.deleteCon {
    background-image: linear-gradient( blanchedalmond, white );
    /* background-color: blanchedalmond; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deleteTitle {
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 50px;
}

.deleteDetails {
    font-size: x-large;
}

.deleteInfo {
    font-size: x-large;
    width: 50%;
    text-align: center;
}

.BtnCon {
    /* border: 1px solid #000; */
    width: 30%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scrollToTop {
    position: fixed;
    bottom: 12px;
    right: 2%;
}

.scrollToTop i {
    animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
    from {
        transform: translate(2px);
    }
    to {
        transform: translate(-2px);
    }
}