/* General Component */

.addContainer {
    background-image: linear-gradient( blanchedalmond, white );
    /* background-color: blanchedalmond; */
    flex-direction: column;
    display: flex;
    padding: 10px 20px;
    align-items: center;
}

.editContainer {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    background-image: linear-gradient( blanchedalmond, white );
    /* background-color: blanchedalmond; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addForm {
    width: 95%;
    padding: 10px 10px;
    margin: 0px auto;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topTitle {
    font-family : 'Raleway';
    font-size: xx-large;
    font-weight: 600;
    margin: 10px auto;
    /* border: 1px solid #000; */
}

.inputContainer {
    width: 40%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}

.addImgBtn {
    border: 2px solid rgb(255, 205, 141);
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    background-color: aliceblue;
    cursor: pointer;
    text-align: center;
}

.addImgBtn:hover {
    background-color: rgb(255, 205, 141);
    color: aliceblue;
    transition: all 0.2s ease-out;
}

.uploadCon {
    width: 61%;
    /* border: 1px solid #000; */
}

.editForm {
    width: 95%;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputCon {
    width: 60%;
    padding: 10px 10px;
    font-size: large;
    background-color: transparent;
    color: #000;
    outline: none;
    outline-style: none;
    border: none;
    border-bottom: 1px solid #888888;
    /* margin-bottom: 20px; */
}

.inputCon:focus {
    border-bottom: 2px solid #888888;
}

.inputAddress {
    width: 63%;
    font-size: large;
}

.inputTextArea {
    width: 60%;
    padding: 10px 10px;
    font-size: large;
    resize: vertical;
}

.inputTextArea:focus {
    outline-width: 0;
}

.label {
    font-family : 'Raleway';
    font-size: large;
    font-weight: 600;
}

.list {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: rgb(230, 230, 230);
    /* border: 1px solid #000; */
    margin: 10px auto;
}

.list:nth-child(even) {
    background-color: rgb(219, 238, 255);
}

.listContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 2px solid #000;
    padding: 10px 0px;
}

.listBtn {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.listItem {
    font-size: large;
    width: 100%;
    height: auto;
    /* border: 1px solid #000; */
    text-align: center;
    word-break: break-all;
}


.None {
    width: 90%;
    margin: 150px auto;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    /* border: 1px solid #000; */
}

.cancelBtn {
    font-family : 'Raleway';
    width: 200px;
    margin: 10px 0px;
    padding: 10px 40px;
    font-size: large;
    cursor: pointer;
}

.cancelBtn:hover {
    background-color: rgb(255, 255, 139);
    transition: all 0.2s ease-out;
}

.deleteCon {
    background-image: linear-gradient( blanchedalmond, white );
    /* background-color: blanchedalmond; */
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BtnCon {
    /* border: 1px solid #000; */
    width: 30%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scrollToTop {
    position: fixed;
    bottom: 12px;
    right: 2%;
}

.scrollToTop i {
    animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
    from {
        transform: translate(2px);
    }
    to {
        transform: translate(-2px);
    }
}

.backBtn {
    float: right;
    padding: 20px 50px;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    text-align: center;
    border: 2px solid #888888;
    border-radius: 15px;
    letter-spacing: 1px;
}

.backBtn:hover {
    opacity: 0.8;
    background-color: #888888;
    outline-width: 0;
    transition: all 0.2s ease-out;
}

/* For normal Details which for client page and user page */

.normalDetails {
    background-image: linear-gradient( blanchedalmond, white );
    /* background-color: blanchedalmond; */
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.detailCon {
    width: 60%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    word-break: break-all;
    padding: 10px 20px;
}

.detailLabel {
    font-family : 'Raleway';
    font-size: 30px;
    /* border: 1px solid #000; */
    padding: 10px 20px;
    width: 100%;
}

.clickText {
    color: rgb(93, 93, 255);
    cursor: url(../img/copy.png), auto;
    text-decoration: none;
    /* border: 1px solid #000; */
    text-align: right;
    width: 100%;
    font-size: 25px;
}

.detailItem {
    text-align: right;
    /* border: 1px solid #000; */
    font-size: 25px;
    width: 100%;
}

/* Delete Component for every Page */

.deleteTitle {
    font-family : 'Raleway';
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 50px;
}

.deleteBtn {
    width: 200px;
    margin: 40px 0px;
    padding: 10px 20px;
    font-size: large;
    background-color: red;
    color: black;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: black;
    color: red;
    transition: all 0.2s ease-out;
}

.deleteDetailCon {
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #000; */
    margin: 15px auto;
    padding: 10px 20px;
}


.deleteDetails {
    font-family : 'Raleway';
    /* border: 1px solid #000; */
    font-size: xx-large;
    font-weight: 600;
    width: 50%;
}

.deleteInfo {
    /* border: 1px solid #000; */
    font-size: x-large;
    width: 100%;
    text-align: right;
}

/* Error Container */

.errorCon {
    margin-top: 10px;
    padding: 15px 30px;
    border: 2px solid #000;
    background-color: rgb(250, 71, 71);
    font-family : 'Raleway';
    font-size: large;
    text-align: center;
}

.logoutText {
    color: rgb(115, 41, 184);
    margin-top: 10px;
}

/* Page Guide */

.PageGuideCon {
    margin: 10px 0px;
    /* border: 1px solid #000; */
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageNum {
    font-family: 'Qahiri', sans-serif;
    font-size: xx-large;
    margin: 0px 20px;
    border: 2px solid #000;
    border-radius: 25%;
    padding: 5px 20px;
    cursor: no-drop;
}

.pageGuideBtn {
    cursor: pointer;
    padding: 10px 20px;
    font-family : 'Raleway';
    /* border: 1px solid #000; */
    font-weight: 600;
}

.pageGuideBtn:hover {
    /* border: 3px solid #888888; */
    font-size: large;
    transition: all 0.2s ease-out;
    background-color: rgb(200, 200, 200);
    border-radius: 20px;
}

/* Delete Modal */

.DeleteModalCon {
    width: 50%;
    margin: 130px auto;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    border-radius: 15px;
    background-color: rgb(253, 160, 160);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.deleteModalText {
    font-family : 'Raleway';
    margin-bottom: 20px;
    font-size: large;
    letter-spacing: 1px;
}

.DeleteModalCon:focus {
    outline-width: 0;
}

.deleteModalBtnCon {
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.deleteModalBtn {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid rgb(49, 49, 49);
}

.deleteModalBtn:hover {
    background-color: red;
    border: 2px solid red;
    transition: all 0.2s ease-out;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 250ms ease;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateY(-100px);
}

.passwordCon {
    width: 60%;
    display: flex;
    /* border: 1px solid #000; */
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
}

.passwordInput {
    width: 90%;
    padding: 10px 10px;
    font-size: large;
    background-color: transparent;
    color: #000;
    outline: none;
    outline-style: none;
    border: none;
    border-bottom: 1px solid #888888;
}

.passwordInput:focus {
    border-bottom: 2px solid #888888;
}

.far {
    margin-left: 15px;
    cursor: pointer;
    font-size: 28px;
    user-select: none;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5px;
    /* border: 1px solid #000; */
}