.navbar {
    width: 100%;
    background-color: rgb(155, 155, 155);
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 5px 5px 18px #888888;
    font-family: 'Raleway', sans-serif;
}

.nav-container {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBtn {
    float: left;
    padding: 8px 20px;
    font-size: x-large;
    cursor: pointer;
    /* border: 1px solid #000; */
    text-decoration: none;
    color: white;
}

.navBtn-1 {
    float: right;
    padding: 8px 20px;
    font-size: x-large;
    /* border: 1px solid #000; */
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    cursor: pointer;
}

.navBtn:hover {
    color: black;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

.navBtn-1:hover {
    color: red;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.2s ease-out;
    font-weight: bold;
}

.ModalCon {
    width: 50%;
    margin: 150px auto;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    border-radius: 15px;
    background-color: rgb(212, 212, 212);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ModalCon:focus {
    outline-width: 0;
}

.ModalCon h1 {
    /* text-decoration: underline; */
    font-family: 'Raleway', sans-serif;
}

.modalBtn {
    width: 150px;
    padding: 10px 10px;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    text-align: center;
    border: 2px solid #888888;
    border-radius: 15px;
}

.modalBtn:hover {
    opacity: 0.7;
    background-color: #888888;
    outline-width: 0;
    transition: all 0.2s ease-out;
}

.modalBtnCon {
    width: 50%;
    display: flex;
    /* border: 1px solid #000; */
    margin-top: 20px;
    justify-content: space-around;
}

.modalInput {
    margin: 10px 0px;
    font-size: x-large;
    text-align: center;
    padding: 10px 0px;
    border-radius: 15px;
}

.modalInput:focus {
    outline-width: 0;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 250ms ease;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateY(-100px);
}