.mainbody {
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 248, 253);
    background-image: none;
}

.searchCon {
    width: 40%;
    /* border: 1px solid #000; */
    margin: 10px 0px;
    padding: 0px 10px;
    /* float: right; */
}

.searchBox {
    width: 100%;
    border-radius: 15px;
    padding: 10px 10px;
}

.searchBox:focus {
    outline-width: 0;
}

.TitleCon {
    width: 95%;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 1px solid #000;
    margin: 0px auto;
}

.mainTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.actionTitle {
    width: 20%;
    text-align: center;
}

.TitleText {
    width: 100%;
    font-size: x-large;
    /* border: 1px solid #000; */
    text-align: center;
}

table {
    width: 100%;
    padding: 5px 5px;
    border-collapse: collapse;
}

table tr th {
    border: 1px solid #a3a3a3;
    padding: 8px 0px;
    font-size: large;
    font-weight: bold;
}

table tr td {
    text-align: center;
    padding: 8px 5px;
    border: 1px solid #a3a3a3;
}

table tr:nth-child(even) {
    background-color: #ebebeb;
}

.smallButton {
    background-color: blueviolet;
    color: white;
    padding: 3px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

}

.addAndSearchCon {
    width: 90%;
    display: flex;
    /* border: 1px solid #000; */
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
    padding: 10px 20px;
}

.addBtn {
    padding: 8px 30px;
    font-size: large;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.addBtn:hover{
    color: rgb(255, 255, 255);
    border: 2px solid skyblue;
    background-color: skyblue;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}